@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Poppins";
  src: url('../public/Poppins/Poppins-ExtraLight.ttf');
}
 html {
  background: linear-gradient(-45deg, #23a6d5, #1784ab, #0b5975, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links > * {
  padding-right: 3em;
}

/* * {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  min-height: 100vh;
} */