@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Poppins";
  src: url('../public/Poppins/Poppins-ExtraLight.ttf');
}

.navbar-links {
  display: flex;
  justify-content: space-between;
}

.navbar-links > * {
  padding-right: 3em;
}

/* * {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  min-height: 100vh;
} */