@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links {
  display: flex;
  justify-content: space-between;
}

/* .navbar-links > * {
  padding-right: 3em;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

h1 {
  position: relative;
  font-family: Lato, sans-serif;
  font-size: 5vw;
  font-weight: bold;
  padding-left: 15vw;
  overflow: hidden
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: red;
  height: 1vw;
  z-index: -1;
}

h1 .hi {
  display: inline-block;
}
